{% extends 'partials/layout.html.twig' %}

{% block content %}
    <h1>Admin</h1>
    Create
    <h2>{{ page.page.name }}</h2>

    <h3>{{ field.name }}</h3>

    <form method="POST" href="admin/{{ page.slug }}/{{ field.name }}">
        <p>
            <input name="value" id="value" value="{{ field.value }}" />
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}