{% extends 'partials/layout.html.twig' %}

{% block content %}

    <h1 {{ editable_text('page.name') }}>{{ page.name }}</h1>

    {{ page.description|markdown }}

    <img {{ editable_image('page.image') }} src="{{ image(page.image).src }}" />

{% endblock %}